.slider-container {
    overflow: hidden;
    width: 100%;
    margin: 2% auto;
}

.slider {
    display: flex;
    will-change: transform;
}

.review {
    margin: 10px;
    padding: 20px;
    background-color: var(--main_color);
    color: var(--header-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.rec{

}

.name {
    font-weight: bold;
    margin-bottom: 10px; /* Spazio sotto il nome */
}

.text {
    margin-bottom: 10px; /* Spazio sopra la valutazione */
}

.rating {
    font-size: 1.2em;
    color: var(--color-3);
}



