body{
    background-color: ghostwhite;
}

label {
    display: block;
    margin-bottom: 1rem;
    font-weight: bold;
}

#anteprimaImmagine img {
    margin-top: 1rem;
    max-width: 100px;
    max-height: 100px;
    margin-right: 1rem;
}

#container{
    max-width: 80%;
    margin: 5% auto;
    padding: 2%;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-section {
    margin: 2em;
    background-color: white;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#container .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.375rem;
}

textarea, input, select{
    width: 100%;
    padding: 0.625rem;
    border-radius: 4px;
    border: 1px solid #ddd;
}

textarea {
    height: 150px;
    box-sizing: border-box;
    resize: none;
}

input, select{
    margin-bottom: .7rem;
}

select {
    background-color: white;
}

select option[disabled] {
    color: grey;
}

.invio button {
    padding: .7%;
    border: 1px solid #ce0dd8;
    border-radius: 50px;
    background-color: #ce0dd8;
    color: #fff;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: .2%;
    width: 15%;
}

.invio{
    display: flex;
    align-items: center;
    justify-content: center;
}

.aggiungi-ingrediente, .aggiungi-procedimento, .aggiungi-immagine, .aggiungi-tips{
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}

.aggiungi-ingrediente {
    margin: .625rem 0;
}

.aggiungi-procedimento {
    margin-top: .625rem;
}

.ingrediente-gruppo, .procedimento-gruppo{
    display: flex;
    align-items: center;
    gap: .5%;
}

.ingrediente-gruppo {
    position: relative;
}

.procedimento-gruppo {
    display: flex;
    align-items: center;
}

.icona-eliminazione {
    position: absolute;
    right: -1.875rem;
    cursor: pointer;
    background: transparent;
    padding: 0.3125rem;
}

.ingrediente-gruppo .ingrediente, .ingrediente-gruppo .quantita {
    flex-grow: 1;
}

.ingrediente-gruppo .unita {
    flex-basis: 15%;
}

.immaginiContainer {

    display: flex;
    flex-wrap: wrap;
    gap:  0.625rem;
    margin-bottom: 1.25rem;
    border: 1px solid;
    padding: 20px 20px 20px 20px;
}

.anteprimaDiv img {
    width: auto;
    height: 6.25rem;
    display: block;
    max-width: 100%;
    border-radius: 0.1875rem;
}

.procedimento-numero {
    font-weight: bold;
    font-size: 1em;
}

.meno-eliminazione, .icona-eliminazione{
    cursor: pointer;
    position: absolute;
    transform: translateY(-50%);
    z-index: 1;
    background: transparent;
    padding: .125rem;
}
.meno-eliminazione{
    right: 100%;
    top: 35%;
    font-weight: bold;
}

.icona-eliminazione {
    right: .3125rem;
    top: 50%;
}

.menu-eliminazione {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    right: 0;
    top: 100%;
    z-index: 1000;
    display: none;
}

.procedimento-gruppo, .ingrediente-gruppo {
    position: relative;
}

.procedimento-gruppo:hover .icona-eliminazione,
.ingrediente-gruppo:hover .icona-eliminazione {
    display: block;
}

.menu-eliminazione ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-eliminazione li {
    padding: .3125rem .3125rem;
    cursor: pointer;
}

.anteprimaDiv .icona-eliminazione {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    color: red;
    cursor: pointer;
    visibility: hidden;
}

.anteprimaDiv {
    position: relative;
    display: inline-block;
    margin-right: .625rem;
    border: 1px solid #ddd;
    padding: .3125rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    background-color: #fff;
}
.anteprimaDiv:hover img {
    filter: brightness(50%);
}
.anteprimaDiv:hover .icona-eliminazione {
    visibility: visible;
}

