body {
    background: #f8f8f8;
    background-image: radial-gradient(circle at 50% 50%, #ce0dd8 25%, transparent 25%),
                        radial-gradient(circle at 80% 20%, #f8f8f8 35%, #b6e0ea 35%);
    background-size: 2000px 2000px;
    margin: 0;
    padding: 0;
    font-family: "MontSerrat T";
}



.top_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.top_bar img {
    margin: 10px;
    width: 120px;
    height: 30px;
}

.top_bar button {
    margin: 10px;
    padding: 10px 20px;
    border: 2px solid #252525;
    border-radius: 50px;
    background-color: transparent;
    color: #252525;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.top_bar button:hover {
    background-color: #ce0dd8;
    border: 2px solid #ce0dd8;
    color: #fff;
}

@font-face {
    font-family: "MontSerrat T";
    src: url('Montserrat.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

.title {
    font-family: "MontSerrat T";
    text-align: left;
    margin-top: 100px; 
    margin-bottom: 100px; 
    margin-left: 50px;
}

.title h1 {
    color: #ce0dd8;
    font-size: 64px;
    font-weight: normal;
    margin-bottom: 20px;
}

.title p {
    color: grey;
    font-size: 20px;
    margin-top: 0;
}

.title button {
    padding: 10px 20px;
    border: 2px solid #ce0dd8;
    border-radius: 50px;
    background-color: #ce0dd8;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.title button:hover {
    background-color: transparent;
    border: 2px solid #252525;
    color: #252525;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: -60px; /* Inizialmente nascosta */
    background-color: #fff;
    transition: top 0.3s;
    z-index: 1000; /* Assicura che la navbar sia sopra gli altri elementi */
}

.navbar.active {
    top: 0;
}

.navbar img {
    margin: 10px;
    width: 120px;
    height: 30px;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ce0dd8;
}

.join-btn {
    margin: 10px;
    padding: 10px 20px;
    border: 2px solid #252525;
    border-radius: 50px;
    background-color: transparent;
    color: #252525;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.join-btn:hover {
    background-color: #ce0dd8;
    border: 2px solid #ce0dd8;
    color: #fff;
}


.introduction {
    margin-top: 300px;
    margin-bottom: 300px;
    background-color: #f0f0f0;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.introduction .description {
    width: 470px;
    height: 204px;
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Allineamento orizzontale al centro */
    justify-content: center; /* Allineamento verticale al centro */
}

.introduction .description h1 {
    font-size: 62px;
}

.introduction .description p {
    font-size: 24px;
}

.introduction .photo{
    margin-right: 150px;
}

.introduction .photo img{
    border-radius: 10px;
    width: 430px;
    height: 430px;
}




