body {
    background: #f8f8f8; /* colore di sfondo chiaro */
    background-image: radial-gradient(circle at 50% 50%, #ce0dd8 25%, transparent 25%),
                      radial-gradient(circle at 80% 20%, #f8f8f8 35%, #b6e0ea 35%); /* colore azzurro tenue */
    background-size: 2000px 2000px;
    margin:0;
}


.top_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.top_bar img {
    width: 120px;
    height: 30px;
}

.top_bar button {
    padding: 10px 20px;
    border: 2px solid #252525;
    border-radius: 50px;
    background-color: transparent;
    color: #252525;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.top_bar button:hover {
    background-color: #ce0dd8;
    border: 2px solid #ce0dd8;
    color: #fff;
}

@font-face {
    font-family: "MontSerrat T";
    src: url('Montserrat.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

.title {
    font-family: "MontSerrat T";
    text-align: left;
    margin-top: 100px; 
    margin-bottom: 100px; 
    margin-left: 50px;
}

.title h1 {
    color: #ce0dd8;
    font-size: 64px;
    font-weight: normal;
    margin-bottom: 20px;
}

.title p {
    color: grey;
    font-size: 20px;
    margin-top: 0;
}

.title button {
    padding: 10px 20px;
    border: 2px solid #ce0dd8;
    border-radius: 50px;
    background-color: #ce0dd8;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.title button:hover {
    background-color: transparent;
    border: 2px solid #252525;
    color: #252525;
}

.media-container {
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
}

.media-container img,
.media-container video {
    width: 200px; /* Dimensione base */
    height: auto;
    transition: transform 0.3s ease, width 0.3s ease;
    object-fit: cover;
    margin: 0 5px; /* Spaziatura tra gli elementi */
}



