
.idea/deployment.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.idea/php.xml
.idea/vcs.xml
.idea/webServers.xml
.idea/WebTecnologiesProject.iml
.idea/.name
.idea/workspace.xml
.idea/dataSources/ed212da5-c182-4c35-aa4c-12d5d67c6b0b/storage_v2/_src_/database/gruppo11.JUolKA/schema/public.abK9xQ.meta
.idea/dataSources/ed212da5-c182-4c35-aa4c-12d5d67c6b0b/storage_v2/_src_/database/gruppo11.JUolKA/schema/information_schema.FNRwLQ.meta
.idea/dataSources/ed212da5-c182-4c35-aa4c-12d5d67c6b0b/storage_v2/_src_/database/gruppo11.JUolKA/schema/pg_catalog.0S1ZNQ.meta
.idea/dataSources/ed212da5-c182-4c35-aa4c-12d5d67c6b0b/storage_v2/_src_/database/gruppo11.JUolKA.meta
.idea/dataSources/ed212da5-c182-4c35-aa4c-12d5d67c6b0b.xml
.idea/dataSources.xml
.idea/dataSources.local.xml
*.xml
