/*Import Fonts: (MONTSERRAT: ExtraLight, Light, Regular, Medium, SemiBold*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap');

:root{
    --main_color: #d79711;
    --color-2: #2F6690;
    --color-3: #3C6997;
    --bg-color: #F5F5F5;
    --header-color: rgba(178, 178, 178, 0.7);
    --text-color: #0A0A0A;
    --main-shadow-no-color: 0px 4px 4px 0px;

    font-size: 16px;
}

*{
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    background-color: #FAFAFA;
}
main {

}

@media (max-width: 1090px) {

}
@media (max-width: 768px) {

}

