@font-face {
    font-family: "MontSerrat T";
    src: url('font/Montserrat.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

*{box-sizing: border-box;font-family: "MontSerrat T", serif;}

body,
html{
    margin: 0;
    padding: 0;
}

header {
    top: 0;
    left: 0 ;
    right: 0;
    width: 100%;
    align-items: center;
    position: fixed;
}

@media (max-width: 768px) {
    header menu{

    }

    body {
        font-size: 14px;
    }
}
