@font-face {
    font-family: "MontSerrat T";
    src: url('/font/Montserrat.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: "MontSerrat T", serif;
    font-size: 16px;
}

header {
    top: 0;
    left: 0 ;
    right: 0;
    width: auto;
    align-items: center;
    position: fixed;

}

@media (max-width: 768px) {
    header menu{

    }

    body {
        font-size: 14px;
    }
}
