/* Global styles */

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-weight: normal;
    margin-bottom: 1rem;
}

h1 {
    font-size: 3rem;
    line-height: 1.2;
    color: #444;
}

h2 {
    font-size: 2rem;
    color: #666;
}

p {
    margin-bottom: 1rem;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 0.5rem;
}

img {
    max-width: 100%;
    height: auto;
}

/* Main styles */
main {
    padding: 2rem;
}

#title {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Assicurati che #title occupi l'intera larghezza */
}

#details{
    display: flex;
    justify-content: space-between;
}

#contents {
    width: 20%; /* Imposta la larghezza dei contenuti a 20% del parent */
    margin-right: 2%; /* Aggiungi un margine destro per separare i contenuti dal dettaglio della ricetta */
}

#recipe-content {
    width: 80%; /* Imposta la larghezza del contenuto della ricetta a 80% del parent */
    /* Assicurati che il contenuto della ricetta occupi lo spazio rimanente */
}

#contents h2 {
    margin-top: 0;
}

/* Stili per #contents */
/* Stili per #contents */
#contents ul {
    padding-left: 0;
}

#contents li {
    position: relative;
    margin-left: 0;
    padding-left: 5%;
    cursor: pointer;
}


#contents li:nth-child(1) {
    margin-left: 0;
}

#contents li:nth-child(2) {
    margin-left: 5%;
}

#contents li:nth-child(3) {
    margin-left: 10%;
}

#contents li:nth-child(4) {
    margin-left: 15%;
}

#contents a {
    display: block;
    padding: 1% 1% 1% 5%;
}

#contents a.active {
    background-color: #ddd;

}


/* Stili aggiuntivi per i titoli e i paragrafi dentro #recipe-content, se necessario */
#recipe-content h2 {
    font-size: 2rem;
    color: #666;
    margin-top: 0; /* Rimuovi il margine superiore per allinearlo con il titolo dei contenuti */
}

#recipe-content p {
    margin-bottom: 1rem;
}



#gallery {
    margin-bottom: 2rem;
}

#gallery h2 {
    margin-top: 3rem;
}

#gallery p {
    margin-top: 0;
}

