/*
viewBox:
è un attributo che definisce l'area visibile e scalabile del contenuto SVG.
Il valore è una lista di quattro numeri: min-x, min-y, width e height.

preserveAspectRatio="none":
Questo attributo indica come l'immagine SVG deve essere scalata per adattarsi al suo contenitore.
Il valore none significa che il rapporto tra altezza e larghezza dell'SVG può essere alterato
per riempire completamente il contenitore di sfondo.

path è un elemento SVG che definisce un percorso, che può essere una linea, una curva, ecc.
d è l'attributo che descrive il percorso da seguire. Qui, è composto da comandi come M per moveto (sposta il penna in un punto),
e Q per curveto quadratica (disegna una curva con un punto di controllo).
M100,0 inizia il percorso nell'angolo in alto a destra.
Q50,50 100,100 disegna una curva quadratica dal punto di inizio al punto (100,100) usando (50,50)
come punto di controllo.
I comandi successivi creano ulteriori curve che formano il nodo e terminano il percorso.

fill specifica il colore di riempimento dell'elemento.

*/
main {
    margin: 2% 8vw;
}
section {
    width: 100%;
}

#title {
    width: 100%;
    height: auto;
    padding: 3%;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    background-color: #400c45;
    border-radius: 30px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M100,0 Q50,50 100,100 Q75,90 50,100 Q25,110 0,100" fill="none" stroke="magenta" stroke-width=".5"/></svg>');
}

#title .text {
    width: 70%;
    margin: 0 2% 0 0;
    font-size: 1rem;
}
.text h1 {
    font-size: 2.2em;
    font-weight: 600;
    color: var(--main_color);
}
.text p {
    font-size: 1.3em;
    font-weight: 400;
    color: lightslategrey;
}
.text #user{
    font-size: 1.1em;
    font-weight: 400;
    color: #4d5d6c;
    margin: 0.4% 0;
}

@media (max-width: 1090px) {
    .text h1 {
        font-size: 1.8em;
    }
    .text p {
        font-size: 1.1em;
    }
    .text #user{
        font-size: 0.9em;
    }
}

@media (max-width: 768px) {
    .text h1 {
        font-size: 1.6em;
    }
    .text p {
        font-size: 0.9em;
    }
    .text #user{
        font-size: 0.8em;
    }
}

#title .photo {
    width: 30%;
    height: auto;
    margin: auto 0;

}

.photo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    min-height: 200px;



    border-radius: 30px; /* Esempio di valore relativo per il border-radius */
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.2); /* Ombra proporzionale alla larghezza del viewport */
    border: 0.32vw solid transparent; /* Bordi proporzionali alla larghezza del viewport */
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #FF69B4, #8A2BE2);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
#title .photo img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

h2{
    font-size: 3vw; /* Font sizes typically kept in em or px for consistency */
}
a{
    color: black;
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#details{
    width: 100%;
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

#contents {
    width: 20%;
    margin-right: 4%;
    font-weight: bold;
}



#contents ul {
    padding-left: 0;
}

#contents li {
    text-align: center;
    margin-left: 0;
    cursor: pointer;

}



#contents a {
    display: block;
    padding: 15px 1% 15px 5%;
    transition: 0.8s;
}

#contents a.active {
    padding-top: 30px ;
    padding-bottom: 30px;
}

#contents li{
    border-bottom: 1px solid;
}


#recipe-content {
    width: 80%;
    padding: 2%;
   /* transition: height 0.5s ease-out;  Regola la durata e la funzione di easing secondo necessità
    overflow: hidden;  Impedisce il contenuto di fuoriuscire durante la transizione di altezza */
}



#recipe-content h2 {
    font-size: 2rem; /* Font sizes typically kept in em or px for consistency */
    margin-top: 0;
}

#recipe-content p {
    margin-bottom: 1rem;
}

#gallery {
    box-sizing: border-box;
}

#gallery .textGallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#ingredienti {
    width: 100%; /* Si adatta alla larghezza del contenitore */
    border-collapse: separate;
    border-spacing: 0;
    margin: 0; /* Rimuove i margini predefiniti */
}

#ingredienti td, #ingredienti th {
    padding: 1em; /* Aumenta il padding per dare la sensazione di una lista */
    border-bottom: 1px solid #ddd; /* Solo un bordo sotto ogni riga */
    text-align: left; /* Allinea il testo a sinistra */
}

#ingredienti th {
    background-color: darkmagenta; /* Colore di sfondo per l'intestazione */
    color: white;
    font-weight: bold;
}

#ingredienti th:first-child {
     border-top-left-radius: 20px;
}
#ingredienti th:last-child {
    border-top-right-radius: 20px;
}

#ingredienti td {
    background-color: #F5F5F5; /* Colore di sfondo per le celle */
}

/* Rimuove il bordo dall'ultima riga in basso */
#ingredienti tr:last-child td{
    border-bottom: none;
}

#ingredienti tr:last-child td:last-child{
    border-bottom-right-radius: 20px;
}

#ingredienti tr:last-child td:first-child{
    border-bottom-left-radius: 20px;
}



/* Responsive Design: Assicura che la tabella non sia mai più larga del suo contenitore */
@media screen and (max-width: 600px) {
    #ingredienti td, #ingredienti th {
        padding: 0.5em; /* Riduce il padding su schermi piccoli */
    }
}




#reviews-section{
    width: 100%;
    margin: 2% auto;
    padding: 3%;

}

.reviews-title{
    text-align: center;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;

}

#reviews-container{
    margin-bottom: 20px;
}

.review{
    margin-top: 10px;
    padding: 8px;
}
.review p{
    font-size: 1vw;
    margin-left: 50px;
    width: calc(100% - 50px);
    padding-top: 5px;
}

strong{
    font-size: 1.3vw;
}

i {
    color: darkmagenta;;
    font-size: 2rem;
    margin-right: 0.5rem;
}


#review-form{
    padding: 8px;
}

#review-form textarea {
    margin-bottom: 10px;
    margin-left: 50px;
    width: calc(100% - 50px);
    padding: 5px;
    box-sizing: border-box;
    resize: none;
    margin-top: 5px;
    border-radius: 10px;
    border: 2px solid lightgrey;
}

.invio-recensione{
    display: flex;
    justify-content: center;
    align-items: center;
}
#review-form button {
    background-color: darkmagenta;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

#review-form button:hover {
    background-color: #b709b7;
}

#voto-recensione{
    margin-bottom: 10px;
    margin-left: 8px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid lightgrey;
    cursor: pointer;
}


