body {
    background-image: url('sfondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    overflow: auto;
}

.login-container {
    max-width: 45%;
    margin: 5% auto;
    padding: 2%;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title h1 {
    font-size: 3em;
    margin-bottom: 0;
}

.title p {
    margin-top: 1%;
    color: grey;
    font-size: 1.2em;
}

.input-container {
    position: relative;
    align-items: center;
}

.input-container label {
    margin-bottom: 2%;
}

.input-field {
    width: 100%;
    padding: 2%;
    margin: 2% 0;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
    border: 2px transparent;
}

.input-field:focus {
    border-color: #c235e2;
    outline: none;
    box-shadow: 1px 1px 8px rgba(156, 39, 176, 0.5);
}

.input-icon {
    position: absolute;
    right: 3%;
    top: 62%;
    transform: translateY(-50%);
}

.remember-me-container {
    display: flex;
    align-items: center;
    padding-left: 2%;
    margin-top: 4%;
    margin-bottom: 2%;
}

.remember-me-container input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1.2em;
    height: 1.2em;
    margin: 0;
    padding: 0;
    border: 1px solid lightgrey;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    position: relative;
}

.remember-me-container input[type="checkbox"]:checked::before {
    content: '✓';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #c235e2;
    font-size: 1.2em;
}

.remember-me-container label {
    margin-left: 2%;
    cursor: pointer;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
}

.submit-button {
    padding: 1% 2%;
    border: 2px solid #ce0dd8;
    border-radius: 50px;
    background-color: #ce0dd8;
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 2%;
    width: 90%;
}

.submit-button:hover {
    background-color: transparent;
    border: 2px solid #252525;
    color: #252525;
}

.divider {
    border: 0;
    height: 1px;
    background-color: lightgrey;
    margin: 4% 5% 2%;
}

.no-account {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 460px) {

    .input-icon {
        top: 75%;
    }

}