@font-face {
    font-family: "MontSerrat T";
    src: url('Montserrat.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url('sfondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    margin: 0;
    padding: 0;
    font-family: "MontSerrat T";
}

.login-container {
    max-width: 45%;
    height: auto;
    margin: 50px auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-container .title{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.login-container .title h1{
    font-size: 48px;
    margin-bottom: 0;
}

.login-container .title p{
    margin-top: 1%;
    color: grey;
    font-size: 14px;
}

.login-container .login-data{
    display: flex;
    flex-direction: column;
    padding: 0 10%;
}

.login-container .login-data label{
    font-size: 12px;
}

input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 2px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
    
}

.username-container input[type="text"]:focus , .password-container input[type="password"]:focus{
    border-color: #c235e2;
    outline: none;
    box-shadow: 1px 1px 8px rgba(156, 39, 176, 0.5);
}


.username-container, .password-container {
    position: relative;
    align-items: center; 
}

.username-container label, .password-container label {
    margin-bottom: 5px; 
}


.username-container input[type="text"], .password-container input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 2px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}
.username-container input[type="text"]:focus, .password-container input[type="password"]:focus {
    border-color: #c235e2;
    outline: none;
    box-shadow: 1px 1px 8px rgba(156, 39, 176, 0.5);
}

#usernameIcon, #togglePassword {
    font-weight: normal;
    position: absolute;
    right: 1%;
    top: 60%;
    transform: translateY(-50%);
}

#togglePassword{
    cursor: pointer;
}


.remember-me-container {
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}


.remember-me-container input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
    border: 1px;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    position: relative;
}



.remember-me-container input[type="checkbox"]:checked::before {
    content: '✓';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #c235e2;
    font-size: 14px;
}


.remember-me-container label {
    margin-left: 8px;
    cursor: pointer;
}


.login-data .login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.login-data .login #submitButton {
    padding: 10px 20px;
    border: 2px solid #ce0dd8;
    border-radius: 50px;
    background-color: #ce0dd8;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    width: 468px;
}

.login-data .login #submitButton:hover{
    background-color: transparent;
    border: 2px solid #252525;
    color: #252525;
}

.divider {
    border: 0;
    height: 1px;
    background-color: lightgrey;
    margin: 50px 70px 20px;
}

.no-account {
    display: flex;
    justify-content: center;
    align-items: center;
}


