body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 45%;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

input {
    width: 75%;
    padding: 10px;
    margin: 10px 0;
    border-width: 2px;
    box-sizing: content-box;
    border-radius: 50px;
}

button {
    width: 80%;
    padding: 10px;
    background-color: #c235e2;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
