.backdrop + div{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}
.container {
    width: 45%;
    margin: auto;
    padding: 2%;
    background-color: var(--main-color);
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
@media(max-width: 768px){
    .container {
        width: 68%;
    }
}
@media(max-width: 460px){
    .container {
        width: 88%;
    }
}
@media(max-width: 320px){
    .container {
        width: 98%;
    }
}
.login-section{
    width: 100%;
}
.signup-section{
    width: 100%;
    display: none;
}

/*Titolo Container*/
.title {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.title h1 {
    font-size: 3em;
    margin-bottom: 0;
}
.title p {
    margin-top: 1%;
    color: grey;
    font-size: 1.2em;
}

.title .errorMessage{
    color: red;
}

/*Container Form*/
.form-div{
    width: 100%;
}
.form-div form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/*Sezioni di Form*/
.form-div form section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

form section:last-child{
    position: relative;
}


/*Intra Form*/

.input-container {
    width: 100%;
    margin:1% 0;
}

.input-field{
    width: 100%;
    padding: 2%;
    margin: 1% 0 0 0;
    border-radius: 30px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
    border: 2px var(--accent-color-2);
    background-color: var(--main-color-darker);
}
.input-field:focus {
    border-color: var(--header-color);
    outline: none;
    box-shadow: 1px 1px 8px rgb(200, 25, 95, 0.25);
}

.input-icon{
    position: relative;
    width: 100%;
}
.input-icon i{
    position: absolute;
    top: 40%;
    right: 2%;
}


/*Submit Button*/
.colored-btn {
    width: 100%;
    margin-top: 2%;
    display: flex;
    align-items: center;

}
.submit-button {
    width:70%;
    margin:auto;
    padding: 1% 2%;

    border: 0;
    color: var(--main-color);
    font-size: 1.2em;
    text-align: center;
    cursor: pointer;
    background-color: var(--header-color);
    border-radius: 50px;
    transition: background-color 0.3s ease-in-out;
}
.submit-button:hover {
    background-color: var(--accent-color-1);
}

/*Sub Form*/
.sub-form{
    width:100%;
    margin:auto;
}
.divider {
    border: 0;
    height: 1px;
    background-color: lightgrey;
    margin: 3% 0 1% 0;
}

.no-account {
    width: 100%;
}
.no-account p{

}

/*bottoni back e Sign Up (nel login)*/
.change-btn{
    width: 22%;
    padding: 0.5% 0.1%;
    margin-left: 0.5%;
    color: var(--accent-color-2);
    border: 0;
    border-radius: 10px;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.change-btn:hover{
    color: var(--text-color);
    background-color: var(--secondary-color);
}

.bck-btn{
    position: absolute;
    top: -30%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.bck-btn:hover{
    background-color: var(--secondary-color);
}

.bck-btn button{
    border: 0;
    font-size: 1.3rem;
    cursor: pointer;

    background: transparent;
    color: var(--text-color);
    transition:color 0.3s ease-in-out;
}



@media (max-width: 460px) {
    .input-icon {
        top: 30%;
    }
    .container {

    }
}
