
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: red;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

}
.logo {
    font-style: inherit;
    margin-left: 2em;
    left: 2em;
    right: 2em;
}

.menu{
    list-style: none;
    display: flex;

}

.menu li {
    padding: 0 1em 0 1em;
}

.menu a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #ce0dd8;
}

.search-bar {

}

.search-bar form {
    display: flex;

}

.search-bar input[type="text"] {

    border: 1px solid lightgrey;
    border-radius: 3px;
    width: 20em;
}

.search-bar button {
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: transparent;
    color: #c405a4;
}

.button-accedi{

}

.profile-pic{
    height: inherit;
    width: inherit;
    margin-left: -300px;
    padding-right: 30px;
    padding-bottom: 5px;
}