header{
    position: fixed;
    width: 100%;
    top: 0;
    height:5%;
    z-index: 1000;
}

.logo{
    font-size: 2rem;
    font-weight: 600;
    color: var(--main-color);
    transition: transform 0.3s ease-in-out;
}
.logo:hover{
    transform: scale(105%);
}

.menu{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu > li {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
}
.menu > li:hover {
    transform: scale(110%);
}

.menu a{
    color: var(--main-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding:0;
    margin:0 2rem;

    transition: transform 0.3s ease-in-out;
    border-radius: 20px;
}

.r-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.r-side a {
    color: var(--main-color);
    margin-left: 0.7rem;
    font-size: 1.2rem;
    font-weight: 600;
    transition: transform 0.3s ease-in-out;
    border-radius: 20px;
}
.r-side a:hover{
    transform: scale(105%);
}

.r-side i{
    margin:auto;
}
.user {
    display: flex;
    align-items: center;
    justify-content: center;
}
.user i {
    color: var(--main-color);
    font-size: 2rem;
    margin-right: 0.5rem;
}

.r-side > a:hover{
    transform: scale(110%);
}


#logout-icon{
    border-radius: 20px;
    margin:0;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}
#logout-icon:hover{
    transform: scale(105%);
}


#menu-icon {
    font-size: 2rem;
    color: var(--main-color);
    cursor: pointer;
    display: none;
}


@media (max-width: 1280px){
    .logo{
        font-size: 2rem;
        font-weight: 600;
    }
    .navbar{
        padding: 0.5rem 2%;
        transition: .2s ease;
    }
    .menu a{
        padding: 0.5rem 0;
        margin: 0 1.5rem;
    }
}

@media (max-width: 1090px){
    #menu-icon {
        display: block;
        margin-left:30%;
    }
    .menu{
        position: absolute;
        top: 2.5rem;
        right:-100%;
        width: auto;
        height: 80px;
        background-color: var(--header-color-opacity);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border-radius: 10px;
        transition: all .50s ease;
    }
    .menu a{
        display: block;
        margin: 0.35rem 0;
        padding: 0 1rem;
        transition: all .50s ease;
        border-radius: 10px;
    }
    .menu a:hover{
        transform: translateY(0.4rem);
    }
    /*.menu a. pagina attiva*/
    .menu.open{
        right:2%;
    }
}