

@font-face {
    font-family: "MontSerrat T";
    src: url('font/Montserrat.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: "MontSerrat T", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.name {

}
.site-footer {
    background-color: #fdfdfd;
    padding: 20px 0;
    font-size: 15px;
    line-height: 24px;
    color: #333;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-column {
    flex: 1;
    min-width: 5%; /* Minimum width for each column */
    padding: 0 1.5%;
}

.footer-column h4 {
    color: #333;
    font-size: 100%;
    margin-bottom: 1%;
}

img {
    float: left;
    height:15px;
    width: 15px;
    margin-right: 1%;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.first-column {
    margin-right: 50px; /* Larger margin for the first column */
}

.footer-column ul li a {
    color: #c9c9c9;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: #007bff;
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .footer-row {
        justify-content: center;
    }

    .footer-column {
        width: 100%;
        margin-bottom: 20px;
    }
}