:root {
    --main_color2: #333;
    --background-light: #f4dfeb; /* Sfondo per le sezioni alternate chiare */
    --background-dark: #ecd5e7; /* Sfondo per le sezioni alternate scure */
}

.about-us{
    margin-left: 10%;
    margin-right: 10%;
}


.about-us section {
    padding: 4rem 10%;
    text-align: center;
}


.intro, .why-choose-us, .testimonials, .mission-visio, .our-team{
    background-color: var(--background-light);
}

.our-story-card, .how-it-works-card, .join-us-card, .experience {
    background-color: var(--background-dark);
}

.about-us h2 {
    font-size: 2.5rem;
    color: var(--main_color2);
    margin-bottom: 1.25rem;
    font-weight: bold;
}

.about-us p {
    font-size: 1rem;
    margin: 0 auto 2em auto;
    color: #666;
    max-width: 800px;
    line-height: 1.6;
}


.about-us i {
    margin: 0 0.625em 0.9375em;
}

.intro-icons {
    text-align: center;
    margin: 1.25rem 0;
}


.intro-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.25rem;
    margin-top: 3.125rem;
}

.intro_card {
    background-color: white;
    padding: 1.25rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 0.65rem;
    text-align: center;
    width: 300px;
    transition: transform 0.3s ease;
}

.intro_card:hover {
    transform: translateY(-10px);
}

.intro_card h3 {
    margin: 0.65rem 0;
}

.intro_card p {
    font-size: 0.875rem;
}


.container, .team-members, .stats {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.team-member, .stat {
    background-color: white;
    border-radius: 0.625rem;
    margin: 0.9375rem;
    padding: 1.25rem;
    width: calc(50% - 1.875rem);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.team-member h3, .stat h3 {
    font-size: 1.125rem;
    color: var(--main_color2);
}

.team-member p, .stat p {
    font-size: 1rem;
    color: #666;
}

.team-member:hover, .stat:hover {
    transform: translateY(-10px);
}


@media (max-width: 1024px) {
    .team-member, .stat {
        width: calc(50% - 1.875rem); /* 2 per riga */
    }
}

@media (max-width: 768px) {
    .team-member, .stat {
        width: 100%;
        margin: 0.9375rem 0;
    }
}

@media (max-width: 480px) {
    .about-us h2 {
        font-size: 2rem;
    }

    .about-us p {
        font-size: 0.9rem;
        margin: 0 auto 1.5em auto;
    }

}



