/*Banner Home */
.bg{
    position: relative;
    height:100vh;
    max-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6a5f6c80;
}

#bg-video{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    filter: blur(5px);
}

/*Banner Home Logged*/
.bg-logged{
    position: relative;
    height:100vh;
    max-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #6a5f6c;
}
#bg-video-logged{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 40%;
    filter: blur(5px);
}

/*Condivisi*/
.bn-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    padding: 10px;
}
.content{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}
.content > p{
    color: #ffffff;
    text-align: center;
}
#intro{
    font-size:4vw;
    min-font-size: 3vw;
    font-weight: 500;

}
#key{
    color: var(--header-color);
    font-weight: 600;
}

#sub{
    font-size:1.2vw;
    min-font-size: 1vw;
    font-weight: 300;
    color: #dedede;
}

@media (max-width: 1280px){
    #intro{
        font-size:3rem;
    }
    #sub{
        font-size:1rem;
    }

}



