/*Banner Home */
.bg{
    position: relative;
    height:100vh;
    max-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color-1);
    z-index: 0;
}

#bg-video{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    filter: blur(5px);
}

/*Banner Home Logged*/
.bg-logged{
    position: relative;
    height:100vh;
    max-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--accent-color-1);
}
#bg-video-logged{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    filter: blur(5px);
}

/*Condivisi*/
.bn-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    background-color:  rgb(16, 43, 63, 0.6);
    border-radius: 30px;
    padding: 1% 2% 1.5% 2%;
}
.content{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}
.content > p{
    color: var(--secondary-color);
    text-align: center;
}
#intro{
    font-size:4vw;
    min-font-size: 3vw;
    font-weight: 500;
}
#key{
    color: var(--main-color);
    font-weight: 600;
    transition: color 0.3s ease-in-out, font-size 0.1s linear;
}
#key:hover{
    color: var(--header-color);
    font-size: 4.2vw;
    font-weight: 600;
}

#sub{
    font-size:1.2vw;
    min-font-size: 1vw;
    font-weight: 300;
    color: var(--secondary-color);
}

@media (max-width: 1090px){
    #intro{
        font-size:3rem;
    }
    #sub{
        font-size:1rem;
    }
}



