.container-card{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    position: relative;
    height: 280px;
    width: 280px;
    margin:1% 1%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 1px 2px 2px var(--header-color-opacity),  -1px -1px 4px rgba(0,0,0,0.2);
    border: 2px solid var(--accent-color-1);
    border-radius: 20px;
    transition: box-shadow 130ms ease-in-out, padding 0.3s ease-in-out;
}
.card:hover {
    box-shadow: 2px 4px 4px var(--header-color-opacity), -1px -1px 7px rgba(0,0,0,0.2);
}

.top-card {
    position: relative;
    height:auto;
    width: 93%;
    margin:2% auto;
}
.top-card .container-top {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-card .container-top p{
    padding: 3px 6px;
    color: var(--accent-color-1);
    font-size: 1.2rem;
    font-weight: 500;
    background-color: var(--main-color);
    /*
    border: 1px solid var(--header-color);
    */
    border-radius: 30px;
    box-shadow: 1px 3px 3px var(--header-color-opacity),  -1px -1px 4px rgba(0,0,0,0.2);

    opacity: 80%;
    transition: opacity 0.3s ease-in-out;
}

.top-card .container-top p:hover{
    opacity: 100%;
}

.top-card .container-top p:first-child i{
    font-size: 1.2rem;
    transition: font-size 0.2s ease-in-out;
}
.top-card .container-top p:first-child i:hover{
    font-size: 1.25rem;
}


.top-card .container-top p:last-child{
    font-size: 1.2rem;
    transition: font-size 0.2s ease-in-out;
}
.top-card .container-top p:last-child *:hover{
    font-size: 1.25rem;
}

.top-card .container-top p span + i{
    margin-left: 3px;
}



.food-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.6em 2em 0.6em 0.8em;
    border-radius: 0 0 20px 20px;

    word-break: break-word;
    background-color: var(--secondary-color);
}
.food-info p:first-child{
    padding-bottom: 5px;
    font-size: 1.15rem;
    font-weight: 500;
    margin: 0;
    color: var(--accent-color-1);
    transition: color 0.3s ease-in-out, font-size 0.1s ease-in-out;
}
.food-info p:first-child:hover {
    font-size: 1.2rem;
}

.food-info p:first-child a:link{
    color: var(--accent-color-1);
}
.food-info p:first-child a:link:hover{
    color: var(--header-color);
}
.food-info p:first-child a:visited{
    color: var(--accent-color-2);
}
.food-info p:first-child a:visited:hover{
    color: var(--deep-blue-gray);
}


.food-info p:last-child {
    color: var(--accent-color-2);
    font-size: 0.9rem;
    font-style: italic;
}

.food-info p span {
    font-size: 1rem;
}

/*Icona per Eliminare la ricetta*/

.elimina-icon{
    position: absolute;
    width: 0;
    height: 0;
    display: none;
    align-items: center;
    justify-content: center;
}
.elimina-icon i{
    display: none;
    margin:auto;
    background-color: var(--header-color);
    color: var(--main-color);

    padding:0;
    border-radius:30px;
    font-size:2rem;

}

.card:hover .elimina-icon{
    display: flex;
    width: 100%;
    height: 90%;
    align-items: flex-end;
}
.card:hover .elimina-icon i{
    display: flex;
    padding:1rem;
}
.card:hover .elimina-icon i:hover{
    color: var(--header-color);
    background-color: var(--main-color);
}