main {
    margin: 2% 8vw;
}
section {
    width: 100%;
    background-color: var(--accent-color-1);
}

/*Titolo, descrizione e banner ricetta*/
#title {
    width: 100%;
    height: auto;
    padding: 2%;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    word-break: break-word;

    border-radius: 30px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M100,0 Q50,50 130,100 Q45,90 50,100 Q25,110 0,100" fill="none" stroke="rgb(200, 25, 95)" stroke-width=".5"/></svg>');
    transition: border 0.3s ease-in-out;
}

#title .text {
    width: 70%;
    margin: 0 2% 0 0;
    font-size: 1rem;
}
.text h1 {
    font-size: 2.2em;
    font-weight: 600;
    color: var(--main-color);
    margin-bottom: 0.5%;
}
.text p {
    font-size: 1.3em;
    font-weight: 400;
    color: var(--secondary-color);
    text-align: justify;
}
.text #user{
    font-size: 1.1em;
    font-weight: 300;
    color: var(--secondary-color);
    margin: 1% 0 0 0 ;
    font-style: italic;
}
.text #user span{
    font-weight: 400;
    transition: color 0.3s ease-in-out;
}
.text #user span:hover{
    color: var(--header-color);
}

#title .photo {
    width: 30%;
    height: 30%;
    margin: auto;
    max-height: 250px;
    max-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 250px;
    max-width: 350px;
    border-radius: 30px;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
    border: 3px solid var(--header-color);
    transition: transform 0.3s ease-in-out;
}
#title .photo img:hover {
    transform: scale(1.05);
}

@media (max-width: 1090px) {
    .text h1 {
        font-size: 1.8em;
    }
    .text p {
        font-size: 1.1em;
    }
    .text #user{
        font-size: 0.9em;
    }
}

@media (max-width: 768px) {
    .text h1 {
        font-size: 1.6em;
    }
    .text p {
        font-size: 0.9em;
    }
    .text #user{
        font-size: 0.8em;
    }
    #title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        border-radius: 20px;
    }
    #title .text {
        width: 100%;
    }
    #title .photo {
        margin-top: 1%;
        width:100%;
    }
}
@media (max-width: 426px) {
    .text h1 {
        font-size: 1.4em;
    }
    .text p {
        font-size: 0.6em;
    }
    .text #user{
        font-size: 0.7em;
    }
}

/*Parte dei dettagli riguardanti la ricetta*/
#details{
    width: 100%;
    height: auto;
    padding: 2%;
    margin: 2% auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--main-color-opacity);
    border-radius: 30px;
}

#contents{
    width:100%;
}
#contents ul{
    width: 100%;
    padding: 0 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#contents ul li {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#contents a {
    width: 55%;
    padding: 3% 1%;
    margin: auto;
    text-align: center;
    font-weight: 600;
    background-color: var(--accent-color-1);
    color: var(--main-color);
    border-radius: 20px;
    transition: transform 0.3s ease-in-out,
                padding 0.3s ease-in-out,
                width 0.9s cubic-bezier(0.1, 0.7, 1.0, 0.1);
}
#contents a:hover{
    transform: scale(1.03);
}
#contents a.active{
    background-color: var(--header-color);
    width: 75%;
}

#recipe-content {
    width:100%;
    transition: display 0.5s ease;
}
#recipe-content h2 {
    font-size: 2rem;
}
#recipe-content p {
    margin-bottom: 1rem;
}

#ingredienti {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin: 0;
    font-size: 1rem;
}

#ingredienti td, #ingredienti th {
    padding: 1em;
    text-align: left;
}
#ingredienti th {
    background-color: var(--header-color);
    color: var(--main-color);
    font-weight: 600;
    border: 1px solid var(--main-color-opacity);
}
#ingredienti th:first-child {
    border-top-left-radius: 20px;
    border-right: 0;
}
#ingredienti th:last-child {
    border-top-right-radius: 20px;
    border-left: 0;
}
#ingredienti td{
    background-color: var(--main-color);
}
/* Mette i bordi all'interno*/
#ingredienti tr td:first-child + td{
    border-right: 1px solid var(--main-color-opacity);
    border-left: 1px solid var(--main-color-opacity);
}

/* Rimuove il bordo dall'ultima riga in basso */
#ingredienti tr:last-child td{
    border-bottom: none;
}
#ingredienti tr:last-child td:last-child{
    border-bottom-right-radius: 20px;
}
#ingredienti tr:last-child td:first-child{
    border-bottom-left-radius: 20px;
}

@media (max-width: 1090px) {
    #contents a{
        font-size: 0.8rem;
        padding: 5% 4%;
    }
    #ingredienti td, #ingredienti th {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    #contents a{
        width: 60%;
        font-size: 0.6rem;
        padding: 5% 4%;
    }
    #ingredienti td, #ingredienti th {
        font-size: 0.8rem;
    }
}
@media(max-width: 426px){
    #contents a{
        width: 75%;
        font-size: 0.5rem;
        padding: 5% 5%;
    }
    #ingredienti td, #ingredienti th {
        font-size: 0.7rem;
    }
}

.preparazione, .consigli{
    margin-bottom: 10px;
    padding: 8px;
    color: var(--text-color);
    background-color: var(--main-color);
    border-left: 4px solid var(--header-color);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.preparazione p, .consigli p{
    margin:0;
}



/*Sezione Recensioni*/
#reviews-section{
    width: 100%;
    padding: 2%;
    background-color: var(--main-color-darker);
    border-radius: 30px;
}
.reviews-title{
    text-align: center;
    color: var(--text-color);
    border-bottom: 1px solid var(--accent-color-1);
    padding-bottom: 0.2%;
}

#reviews-container{
    width: 100%;
    margin: 1% auto 1%;
    padding-bottom: 1%;
}

.up-rec{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1%;
    margin: 1% 0 0.3% 0;
}
#voto-p{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size:  1rem;

}
#voto-p i{
    font-size: 1.2rem;
    color: var(--accent-color-1);
}
strong{
    font-weight: 600;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
}
strong i {
    font-size: 2rem;
    margin-right: 0.5rem;
    color: var(--accent-color-1);

}
#rec-p{
    margin: 5px 0 10px 1.6%;
    padding: 0 0 0 0.5%;
    width: 95%;
    font-size: 1rem;
    word-wrap: break-word;
    word-break: break-word;
    border-left: 4px solid var(--header-color);
}

#review-form{
    padding-top: 0.5%;
    border-top: 1px solid var(--accent-color-2);
}

#review-form textarea {
    margin: 5px 0 10px 2.7%;
    padding: 0.5% 0 1% 0.5%;
    width: 95%;

    resize: none;
    border-radius: 10px;
    border: 2px solid lightgray;
}

#voto-recensione{
    margin-bottom: 10px;
    margin-left: 8px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid lightgray;
    cursor: pointer;
}
#review-form textarea:focus, #voto-recensione:focus{
    border-color: var(--accent-color-1);
}

#voto-recensione > option {
    background-color: var(--secondary-color);
    border-radius: 10px;
}
#voto-recensione > option:hover {
    color: var(--secondary-color);
    border-radius: 10px;
}

.invio-recensione{
    display: flex;
    justify-content: center;
    align-items: center;
}
#review-form button {
    background-color: var(--header-color);
    color: var(--main-color);
    padding: 1% 2%;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s ease, transform 0.3s ease-in-out;
}
#review-form button:hover {
    background-color: var(--accent-color-1);
    transform: scale(1.05);
}


@media (max-width: 768px) {
    strong{
        font-size: 1.1rem;
    }
    #voto-p i{
        font-size: 1rem;
    }
    #rec-p{
        font-size: 0.9rem;
    }
}

@media(max-width: 426px){
    strong{
        font-size: 1rem;
    }
    #voto-p i{
        font-size: 0.8rem;
    }
    #rec-p{
        font-size: 0.7rem;
    }
}
