main{
    background-color: var(--main-color);
}
main .best-ricette:first-child{
    padding-top: 2%;
}

.best-ricette{
    width: 100%;
    height: auto;
    padding:1%;
}


.best-ricette h2{
    width: 82%;
    margin: 0 auto 1%;
    border-bottom: 4px solid var(--accent-color-1);
    color: var(--accent-color-1);
    font-size: 1.8rem;
    font-weight: 600;
}
.sezione-ricette{
    width: 85%;
    margin: 0 auto;
}
.container-card{
    align-items: center;
    justify-content: center;
}

.card{
    width: 270px;
    height: 270px;
    transition: transform 0.3s ease-in-out;
}
.card:hover{
    transform: scaleX(103%) scaleY(103%);
}


/*Sezioni Discover*/
.discover-home{
    width: 100%;
    height: 50vh;
}
.discover-home > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:85%;
    height: 100%;
    padding:2%;
    margin:auto;
}
.discover-img{
    width: 100%;
    height: 100%;
    aspect-ratio: 4/3;

    border: 3px solid var(--header-color);
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("https://cdn.pixabay.com/photo/2016/11/19/11/38/avocado-1838785_1280.jpg");

    transition: transform 0.2s ease-in-out;
}
.discover-img:hover{
    transform: scaleX(100.5%) scaleY(100.5%);
}

.discover{
    width: 100%;
    padding:2%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.discover-content{
    margin: auto;
    text-align: center;
}
.discover p:first-child{
    color: var(--header-color);
    font-size:2.3vw;
    min-font-size: 2vw;
    font-weight: 600;
}
.discover p:first-child + p{
    font-size:1.2vw;
    min-font-size: 0.7vw;
    font-weight: 500;
}
#login-discover-btn{
    width: 60%;
    margin: 2% auto;
    padding: 10px 20px;
    background-color: var(--header-color); /* Assicurati che questa variabile CSS sia definita */
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: transform 0.2s ease-in-out, background-color 0.3s ease;
}
#login-discover-btn:hover {
    transform: scaleX(102%) scaleY(102%);
    background-color: var(--accent-color-1);
    color: var(--main-color);
}


@media (max-width: 768px) {
    .discover-home {
        flex-direction: column;
        height: auto;
    }
    .discover-img{
        width: 50%;
        height: 50%;
    }
    .discover-img, .discover {
        width: 90%;
        margin: 10px auto;
    }
}
