.remember-me-container {
    width: 100%;
    margin:0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}

.remember-me-container input[type="checkbox"] {
    position: relative;
    appearance: none;
    width: 1.2em;
    height: 1.2em;
    margin: 0;
    padding: 0;
    border: 1px solid lightgrey;
    border-radius: 3px;
    outline: none;
    cursor: pointer;

}

.remember-me-container input[type="checkbox"]:checked::before {
    content: '✓';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-3);
    font-size: 1.2em;
}

.remember-me-container label {
    width: 30%;
    cursor: pointer;
}
