main {
    margin: 3% 5vw;

}
.ricerca-ricetta{
    height:50vh;
    max-height: 70vh;
    width: 100%;
    background-color: var(--header-color);
    border:1px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
#search-bar{
    width: 60%;
    margin: 3% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.filter-container {
    display: flex;
    justify-content: start;
    gap: 1.25rem;
}

.filter-box {
    width: auto;
}

.filter-question {
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.625rem;
    transition: background-color 0.2s ease;
}

.filter-answer {
    display: flex;
    flex-direction: column;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease, visibility 0s 0.5s;
    margin-left: 1.875rem;
}

.filter-question.active + .filter-answer {
    opacity: 1;
    max-height: 31.25rem;
    visibility: visible;
    transition: opacity 0.5s ease, max-height 0.5s ease;
}

.filter-toggle {
    transition: transform 0.2s ease;
    transform-origin: center center;
}

.filter-question.active .filter-toggle {
    transform: rotate(180deg);
    transition: transform 0.1s ease;
}



/* Sezione ricette*/

.sezione-ricette{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    /*margin:auto;*/
    border: 1px solid yellow;
}
.container-control{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    /*margin:auto;*/
    border: 1px solid red;
}