main {
    margin: 2% 5vw;

}
.ricerca-ricetta{
    width: 95%;
    min-height:35vh;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    border-radius: 30px;
    background-color: #f6e0ed;

    /* #EAFFFD;
    #FECEE9*/
}
#search-bar{
    width: 60%;
    margin: 3% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.filter-container {
    display: flex;
    justify-content: start;
    gap: 1.25rem;
}

.filter-box {
    width: auto;
}

.filter-question {
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.625rem;
    transition: background-color 0.2s ease;
}

.filter-answer {
    display: flex;
    flex-direction: column;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease, visibility 0s 0.5s;
    margin-left: 1.875rem;
}

.filter-question.active + .filter-answer {
    opacity: 1;
    max-height: 31.25rem;
    visibility: visible;
    transition: opacity 0.5s ease, max-height 0.5s ease;
}

.filter-toggle {
    transition: transform 0.2s ease;
    transform-origin: center center;
}

.filter-question.active .filter-toggle {
    transform: rotate(180deg);
    transition: transform 0.1s ease;
}




/* Sezione ricette*/

.sezione-ricette{
    min-height: 50vh;
    width: 95%;

    margin: 1.5% auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    background-color: #f6e0ed95;
    border-radius: 30px;
    backdrop-filter: blur(10px);

}
.container-control{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2%;
    border: 1px solid red;
}
.container-control i{
    margin: 0 3%;
    padding: 0.3%;
    border-radius: 30px;
    background-color: var(--main_color);
    color: var(--header-color);
}

.container-control i:hover{
    padding: 0.3%;
    border-radius: 30px;
    background-color: var(--color-3);
    color: var(--main_color);
}