/*Radio Button*/
input[type="radio"]{
    appearance: none;
    width: 1.2em;
    height: 1.2em;
    margin: 0;
    padding: 0;
    border: 1px solid lightgrey;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    position: relative;

}

input[type="radio"]:checked::before {
    content: '✓';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #c235e2;
    font-size: 1.2em;
}
/*
input[type="button"]{
    font-family: "MontSerrat T", serif;
}
*/




.info-password{
    display: none;
    color: grey;
}

