main {
    margin: 2% 0;
}
.container{
    display: flex;
}

.sidebar{
    background: var(--main_color);
    width: 200px;
    min-width: 200px;
    overflow-x: hidden;
    padding-top: 3px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin-top: 51px;
}

.sidebar a{
    color: #333;
    padding: 15px 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
    border-left: 3px solid transparent;
}

.sidebar i {
    margin-right: 10px;
}

.sidebar a:hover,
.sidebar a.active {
    color: white;
    background-color: #212020;
    border-left: 3px solid white;
}

.logout{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.logout-btn{
    padding: 10px;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background: none;

}


#anagrafica{
    display: none;
}
.content-anagrafica p{
    font-weight: 500;
    font-size: 1.2rem;
    padding: 2%;
}
.content-anagrafica p span{
    font-weight: 400;
    font-size: 1.2rem;
}


.content{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
}
#account, #post, #crea_piatto{
    width: 95%;
}
#account h2, #post h2{
    text-align: center;

}


#account .gender_div{
    display: flex;
    position: relative;
    align-items: center;
}

#account .gender_div label{
    margin-top: 1.8%;
    margin-right: 10%;
    margin-left: 1%;
    font-weight: normal;
}

#account form input[type="text"],
#account form input[type="email"],
#account form input[type="password"],
#account form input[type="date"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}
.conferma, .modifica{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
}

#account form input[type="radio"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1.2em;
    height: 1.2em;
    margin: 0;
    padding: 0;
    border: 1px solid lightgrey;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    position: relative;

}

#account form input[type="radio"]:checked::before {
    content: '✓';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #c235e2;
    font-size: 1.2em;
}




.post, .anagrafica, #account form{
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2%;
}
#post-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.form-section1 {
    width:100%;
    height: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 2% 3%;

    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#anagrafica .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.375rem;
    padding-bottom:1%;
}

.conferma-btn, .modifica-btn{
    width:100%;
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#account button{
    width:35%;
    padding: 1%;


    font-size: 1em;
    text-align: center;
    cursor: pointer;

    border: 1px solid #ce0dd8;
    border-radius: 50px;
    background-color: #ce0dd8;
    color: #fff;
}