/*Import Fonts: (MONTSERRAT: ExtraLight, Light, Regular, Medium, SemiBold*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap');

:root{
    --ex-header-color: #3f0c44;
    --header-color: #c1185b;
    --main-color: #f5f5ff;
    --main-hover: #b709b7;
    --color-2: #C9F0FF;
    --color-3: #c1185b;
    --color-4: #f6e0ed;
    --color-5: #c2c2c2;

    /*COLORI PROPOSTI*/
    --header-color: #C8195F; /* Magenta vivace */
    --main-color: #F5F5F5; /* Grigio molto chiaro, quasi bianco */
    --secondary-color: #E0E0E0; /* Grigio chiaro */
    --deep-blue-gray: #2E4052; /* Blu-grigio scuro */
    --accent-color-1: #102B3F; /* Blu-navy scuro */
    --accent-color-2: #5E6973; /* Grigio-azzurro medio */

    font-size: 16px;
}

*{
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
}

.backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
    background-image: url('../resources/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
}


@media (max-width: 1090px) {

}
@media (max-width: 768px) {

}

