/*
** PSEUDO-CLASS **

** PSEUDO-ELEMENTS **
::marker
::first-line
::first-letter
::before -> insert some content before the content of an element
::after -> insert some content after the content of an element

::selection -> matches the portion of an element that is selected by a user
*/
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0 ; /* ??? */
    z-index: 1000;
    background-color: var(--header_color);
    box-shadow: var(--main-shadow-no-color) #d7cfcf;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 12%;
    transition: all .50s ease;
}

.logo{
    color: var(--main-text-color);
    font-size: 2rem;
    font-weight: 600;
}

.menu{
    display: flex;
}
.menu > li {
    list-style: none;
}
.menu a{
    color: var(--main-text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.5rem 0;
    margin:0 2rem;
    transition: all .50s ease;
}
.menu a:hover {
    color: var(--main_color);
    transition: 0.3s ease;
}
/*Aggiungere una cosa per far capire in quale delle pagine ci troviamo*/




.toggle-btn{
    display: none;
}

@media (max-width: 768px){
    .toggle-btn {
        display: flex;
    }
    #hidden-search-btn{
        display: flex;
    }
    .search-container > *, .search-bar button, .search-bar input, .menu{
        display:none;
    }

}




