
header {
    top: 0;
    left: 0 ;
    right: 0;
    height: 6vh;
    min-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: var(--header_color);
    box-shadow: var(--main-shadow-no-color) var(--header_color);

}

.navbar{

    display: flex;
    width: 95%;
    height: inherit;
    justify-content: space-between;
    align-items: center;
}

.logo-div{


    display:flex;
    justify-content: center;
    align-items: center;

}
.logo{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: var(--main-text-color);

}


.menu{

    padding:0;
    list-style-type: none;
}
.menu li{
    font-size: 1.3rem;
    display:inline-block;
    font-weight: 500;
}

.menu a {color: var(--main-text-color);}

.menu a:hover,
.login:hover{color: var(--main_color); transition: 0.3s ease;}

.login-div{
    width:8vw;
    min-width: 6vw;

    display: flex;
    justify-content: center;
    align-items: center;

}
.login{
    padding:5%;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    color: var(--main_color);
    background-color: var(--color-3);
    border-radius: 60px;
}


.toggle-btn, #hidden-search-btn {
    display: none;
}

@media (max-width: 768px){
    .toggle-btn {
        display: flex;
    }
    #hidden-search-btn{
        display: flex;
    }
    .search-container > *, .search-bar button, .search-bar input, .menu{
        display:none;
    }

}


.search-container{

    display: flex;
    align-items: center;
    justify-content: center;
}
.search-bar{

    background: #dcdcdc;
    display: flex;
    align-items: center;
    border-radius: 60px;

}
.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    font-size: 16px;
}
.search-bar input:focus{
    outline:none;
}
.search-bar input::placeholder{
    color: var(--main_color);
}
.search-bar input[type="text"]{
    padding-left: 1em;
}

.search-bar button i,
#hidden-search-btn i{
    width: 50%;
    color:white;
}
.search-bar button,
#hidden-search-btn{
    min-height: 30px;
    min-width: 30px;
    border:0;
    border-radius: 50%;
    width: 4vh;
    height: 4vh;
    background: #000000;
    cursor: pointer;

}
.search-bar button:hover,
#hidden-search-btn:hover{
    background: var(--main_color);
    transition: 0.3s ease;
}

