header {
    top: 0;
    left: 0 ;
    right: 0;
    height: 6vh;
    min-height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: #fff;
    box-shadow: var(--main-shadow);
}
.navbar{
    display: flex;

    width: 95%;
    height: inherit;
    justify-content: space-between;
    align-items: center;
}

.logo-div{
    width: 13em;
    display:flex;
    justify-content: center;
    align-items: center;

}
.logo{
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    color: var(--main_color);

}


.menu{
    width: 50rem;
    height: 4vh;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.menu li{
    padding: 0 3%;
    list-style: none;
    font-size: 1.2em;
    font-weight: 500;
}

.menu a {color: var(--main_color);}

.menu a:hover,
.login:hover{color: var(--main-hover-color); transition: 0.3s ease;}

.login-div{
    width: 7em;
    height: 4vh;
    max-width: 40vw;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    box-shadow: var(--main-shadow);
    background-color: var(--color_2);
}
.login{

    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    color: var(--main_color);
}


.toggle-btn {
    display: none;
}

@media all and (max-width: 786px){
    .toggle-btn {
        display: flex;
    }
}


.search-container{
    width: 30rem;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.search-bar{
    margin: 0;
    width: 100%;
    max-width: 40vw;
    min-height: 30px;
    background: #dcdcdc;
    display: flex;
    align-items: center;
    border-radius: 60px;
    box-shadow: var(--main-shadow);
}
.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    font-size: 16px;
}
.search-bar input:focus{
    outline:none;
}
.search-bar input::placeholder{
    color: var(--main_color);
}
.search-bar input[type="text"]{
    padding-left: 1em;
}

.search-bar button i{
    width: 50%;
    color:white;
}
.search-bar button{
    min-height: 30px;
    min-width: 30px;
    border:0;
    border-radius: 50%;
    width: 4vh;
    height: 4vh;
    background: #000000;
    cursor: pointer;
    box-shadow: var(--main-shadow);
}
.search-bar button:hover{
    background: #a420d0;
    transition: 0.3s ease;
}

