
.intro {
    background-color: #f1f1f1;
    padding: 100px 0;
    text-align: center;
}

.intro h2 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.intro p {
    font-size: 1.1em;
    margin-bottom: 1em;
}

.platform-info {
    margin-left: 7%;
    margin-right: 7%;
}

.buttons {
    margin-top: 1em;
}

.button {
    background-color: #333;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1em;
    padding: 10px 20px;
    text-decoration: none;
    margin-right: 1em;
}

.button:hover {
    background-color: #555;
}

.team {
    padding: 50px 0;
    text-align: center;
}

.team-members {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.team-member {
    flex: 1 1 300px;
    margin: 20px;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
    text-align: center;
}

.team-member img {
    width: 100%;
    height: auto;
}

.join-us {
    background-color: #f1f1f1;
    padding: 50px 0;
    text-align: center;
}

.experience {
    padding: 50px 0;
    text-align: center;
}

.stats {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.stat {
    flex: 1 1 300px;
    margin: 20px;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
    text-align: center;
}
