.review{
    background: white;
    border: 1px solid black;
    width: 300px;
    min-height: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 20px;

}

.up-rec .review-title{
    box-sizing: border-box;
    border-bottom: 1px solid black;
    display: block;
    padding: 10px 10px 5px;
    font-size: 20px;
    word-break: break-all;
    text-align: center;
}
#voto-p{
    padding-left: 10px;
    padding-top: 10px;
}

#rec-p{
    padding: 10px 20px 20px 10px;
}