main {
    margin: 2% 0;
}
.card {
    height: 260px;
    width: 260px;
}

.container{
    display: flex;
}

.sidebar{
    background: var(--main-color);
    width: 12.5rem;
    min-width: 12.5rem;
    overflow-x: hidden;
    padding-top: 0.1875rem;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin-top: 3.1875rem;
}

.sidebar a{
    color: var(--text-color);
    padding: 0.9375rem 1.25rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    border-left: 3px solid transparent;
}

.sidebar i {
    margin-right: 0.625rem;
}

.sidebar a:hover,
.sidebar a.active {
    color: var(--main-color);
    background-color: var(--accent-color-1);
    border-left: 3px solid var(--main-color);
}
.logout{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.875rem;
}
.logout-btn{
    padding: 0.625rem;
    border-radius: 15px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background: none;
}



/* ANAGRAFICA */
#anagrafica{
    display: none;
}
.anagrafica > h2{
    color: var(--accent-color-1);
}
.content-anagrafica p{
    font-weight: 500;
    font-size: 1.2rem;
    padding: 2%;
}
.content-anagrafica p span{
    font-weight: 400;
    font-size: 1.2rem;
}
@media (max-width: 768px) {
    .user-profile p, .user-profile p span {
        font-size: 0.875rem;
    }
}

.content{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
}
#account, #post, #crea_piatto, #reviews, #assistenza{
    width: 95%;
}
.container h2{
    text-align: center;
}


#account .gender_div{
    display: flex;
    position: relative;
    align-items: center;
}
#account .gender_div label{
    margin-top: 1.8%;
    margin-right: 10%;
    margin-left: 1%;
    font-weight: normal;
}

#account form input[type="text"],
#account form input[type="email"],
#account form input[type="password"],
#account form input[type="date"] {
    width: calc(100% - 20px);
    padding: 0.625rem;
    margin-bottom: 0.625rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
}
.conferma, .modifica, .invia{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
}
.conferma{
    flex-direction: column;
}
.conferma p{
    color: red;
}
#account form input[type="radio"]{
    width: 1.2em;
    height: 1.2em;
    margin: 0;
    padding: 0;
    border: 1px solid lightgrey;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    position: relative;
}

@media (max-width: 768px) {
    #account .gender_div {
        flex-direction: column;
        align-items: flex-start;
    }
    #account .gender_div label {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }
}


/*Da global.css*/
#account form input[type="radio"]:checked::before {}



.post, .anagrafica, #account form, .reviews, .assistenza{
    background-color: var(--main-color-opacity);
    border: 1px solid var(--main-color-darker);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 2%;
}
#post-section, #utente-reviews{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form-section1 {
    width:80%;
    height: 100%;
    margin: 1% auto 1%;
    padding: 2% 3%;

    background-color: var(--main-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#anagrafica .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.375rem;
    padding-bottom:1%;
}

.conferma-btn, .invia-btn{
    width:100%;
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#account button{
    width:25%;
    padding: 1% 0.5%;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    border-radius: 30px;
    border:0;
    background-color: var(--header-color);
    color: var(--main-color);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

#account button:hover {
    transform: scale(1.02);
    background-color: var(--accent-color-1);
}

@media (max-width: 768px) {
    #account button {
        font-size: 0.875rem;
        padding: 0.5rem;
        width: auto;
        margin: 0.5rem 0;
    }
}


.user-profile p {
    font-size: 1rem;
    color: var(--accent-color-2);
    line-height: 1.5;
}

.user-profile p span {
    font-weight: 600;
    color: var(--header-color);
}

.username, .name, .surname, .birthdate, .gender, .email {
    margin-bottom: 0.625rem;
}

.support-section {
    background-color: var(--main-color);
    padding: 1.25rem;
    border-radius: 5px;
    width: 80%;
    margin: 1.25rem auto;
}

.support-form label {
    display: block;
    margin-top: 0.625rem;
}

.support-form input[type="text"],
.support-form input[type="email"],
.support-form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.3125rem;
    margin-bottom: 0.625rem;
    border-radius: 4px;
    border: 1px solid var(--main-color);
}

.post > h2, .assistenza > h2, .reviews > h2{
    color: var(--accent-color-1);
}
