.review{
    background: white;
    border: 1px solid grey;
    width: 400px;
    min-height: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 20px;
    position: relative;
}

.up-rec .review-title{
    box-sizing: border-box;
    border-bottom: 1px solid black;
    display: block;
    padding: 10px 10px 5px;
    font-size: 20px;
    word-break: break-all;
}
#voto-p{
    padding-left: 10px;
    padding-top: 10px;
}

#rec-p{
    padding: 10px 20px 20px 10px;
}
.elimina{
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid grey;
    background: ghostwhite;
    cursor: pointer;
}

.elimina button{
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.elimina:hover{
    background: lightgrey;
}

.elimina i{
    margin-right: 10px;
}

