.bg-logged{
    position: relative;
    height:60vh;
    max-height: 60vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #6a5f6c;
}
#bg-video-logged{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 40%;
    filter: blur(5px);
}
.benvenuto-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
    z-index: 1;
}
.benvenuto-content > p{
    color: #ffffff;
    text-align: left;
}

#intro{
    font-size:4vw;
    min-font-size: 3vw;
    font-weight: 500;
    margin-bottom:0.3rem;
}
#key{
    color: var(--header-color);
    font-weight: bold;
}
#sub{
    font-size:1.2vw;
    min-font-size: 1vw;
    font-weight: 300;
    color: #c5c5c5;
}